@use "../custom" as *;

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.logo {
  width: 10rem;
}
